@font-face {
    font-family: "Archivo";
    font-style: black;
    font-weight: 900;
    src: local("Archivo"), local("Archivo"),
        url("/fonts/Archivo.ttf") format("truetype");
}

@font-face {
    font-family: "Urbanist";
    font-style: black;
    font-weight: 900;
    src: local("Urbanist"), local("Urbanist"),
        url("/fonts/Urbanist.ttf") format("truetype");
}

h1 {
    font-family: "Archivo", sans-serif;
}

* {
    font-family: 'Urbanist', sans-serif;
    /* outline: 1px dotted red; */
}

html {
    scroll-behavior: smooth;
}

.sidebar {
    max-height: 100dvh;
}

.min-width {
    min-width: 100px;
}

input[type="file"]::file-selector-button {
    background-color: #007bff;
    color: white;
    border: none; 
    padding: 0.5rem 1rem; 
    border-radius: 0.375rem;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

input[type="file"]::file-selector-button:hover {
    background-color: #0056b3;
}

#defaultModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modalBg {
    background-color: rgba(0, 0, 0, 0.5);
}